@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply  text-white dark:text-white bg-green-700 
  dark:bg-green-800 !important;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: lightgray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: green;    /* color of the scroll thumb */
  border-radius: 15px;       /* roundness of the scroll thumb */
  border: 2px solid lightgray;  /* creates padding around scroll thumb */
}

.qv-object-content-container > div > div > button {
  border-radius: 4px !important;
}

.qv-object-content-container > div > div > button > text {
  font-size: 12px !important;
}

.qdt-selections div {
  @apply dark:bg-gray-900  bg-gray-200 border-0
}

.MuiButtonGroup-root > button{
  @apply dark:text-gray-300 text-gray-800 border border-gray-400;
}